n8n flows/0_1__Multi__Historical_Backfill_Onboarding.json
{
  "name": "0.1 (Multi) Onboarding - Seed Current Week",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seed-current-week",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "515cfb7b-4845-4483-9fd6-50c0ab80c86d",
      "name": "Webhook - Seed Current Week",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        940,
        700
      ],
      "webhookId": "seed-current-week-v1"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\n\nif (!payload.tenant_id) {\n  throw new Error('Missing required field: tenant_id');\n}\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(payload.tenant_id)) {\n  throw new Error('Invalid tenant_id format');\n}\n\nreturn [{\n  json: {\n    tenant_id: payload.tenant_id,\n    trigger_source: payload.trigger_source || 'manual',\n    triggered_at: payload.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "368966c9-f3df-47cd-b749-aceee1c85002",
      "name": "Extract Tenant ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tenant_id, status, amazon_profile_id, marketplace_id FROM public.credentials WHERE tenant_id = '{{ $json.tenant_id }}'::uuid LIMIT 1;",
        "options": {}
      },
      "id": "cf23ef91-3bb5-4f72-99d8-6e45a2d29839",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1420,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tenant-active",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa874261-93c2-4245-96e2-b149995e7402",
      "name": "IF-Tenant Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Tenant not active or credentials not found' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "4d064dfd-c70b-47f2-a7e5-c45898351ab7",
      "name": "Respond - Account Not Active",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1900,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "// Always seed the current week (week_offset = 0)\nconst tenantId = $input.first().json.tenant_id;\n\nfunction getISOWeek(d) {\n  const date = new Date(d.getTime());\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.ceil(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n}\n\nfunction getISOWeekYear(d) {\n  const date = new Date(d.getTime());\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  return date.getFullYear();\n}\n\nconst msPerDay = 24 * 60 * 60 * 1000;\nconst now = new Date();\n\n// Date ranges — same formula as Flow 1 for current week\nconst endDate     = new Date(Date.now() - 3  * msPerDay).toISOString().split('T')[0];\nconst startDate30 = new Date(Date.now() - 32 * msPerDay).toISOString().split('T')[0];\nconst startDate7  = new Date(Date.now() - 9  * msPerDay).toISOString().split('T')[0];\nconst yesterday   = new Date(Date.now() - 1  * msPerDay).toISOString().split('T')[0];\nconst dayBefore   = new Date(Date.now() - 2  * msPerDay).toISOString().split('T')[0];\nconst today       = now.toISOString().split('T')[0];\n\n// ISO week ID\nconst day  = now.getDay();\nconst diff = now.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(now);\nmonday.setDate(diff);\nmonday.setHours(0, 0, 0, 0);\nconst sunday = new Date(monday);\nsunday.setDate(sunday.getDate() + 6);\n\nconst weekNum = getISOWeek(monday);\nconst year    = getISOWeekYear(monday);\n\nreturn [{\n  json: {\n    tenant_id:    tenantId,\n    week_offset:  0,\n    week_id:      `${year}-W${String(weekNum).padStart(2, '0')}`,\n    year:         year,\n    week_number:  weekNum,\n    start_date:   monday.toISOString().split('T')[0],\n    end_date:     sunday.toISOString().split('T')[0],\n    endDate:      endDate,\n    startDate30:  startDate30,\n    startDate7:   startDate7,\n    yesterday:    yesterday,\n    dayBefore:    dayBefore,\n    today:        today\n  }\n}];"
      },
      "id": "715858ed-2f11-4dc2-814d-2b7d8a35bb0a",
      "name": "Calculate Week Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (SELECT status FROM weekly_snapshots\n     WHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n       AND week_id   = '{{ $json.week_id }}'\n     LIMIT 1),\n    'not_found'\n  ) AS status,\n  '{{ $json.week_id }}'   AS week_id,\n  '{{ $json.tenant_id }}' AS tenant_id;",
        "options": {}
      },
      "id": "87dd54d8-6479-4eb5-bdc7-dd54e53cce25",
      "name": "Check Snapshot Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2140,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-snap-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49f38e69-0629-4305-b53b-7dfd9b553709",
      "name": "IF-Snapshot Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2380,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Current week already seeded — no action needed', week_id: $json.week_id, tenant_id: $json.tenant_id }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Respond - Already Seeded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2620,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.bidflow.app/webhook/d4a5a8ed-0382-44e8-b011-b14e48a89b87",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\":   \"{{ $('Calculate Week Dates').first().json.tenant_id }}\",\n  \"week_id\":     \"{{ $('Calculate Week Dates').first().json.week_id }}\",\n  \"year\":        {{ $('Calculate Week Dates').first().json.year }},\n  \"week_number\": {{ $('Calculate Week Dates').first().json.week_number }},\n  \"start_date\":  \"{{ $('Calculate Week Dates').first().json.start_date }}\",\n  \"end_date\":    \"{{ $('Calculate Week Dates').first().json.end_date }}\",\n  \"week_offset\": 0,\n  \"trigger_source\": \"onboarding_seed\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "61477b94-f3b0-4488-9802-f3ebef9e83e2",
      "name": "Call Flow 1 - Collect Current Week",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Current week seed started — Flow 1 collecting data', week_id: $('Calculate Week Dates').first().json.week_id, tenant_id: $('Calculate Week Dates').first().json.tenant_id }) }}",
        "options": {}
      },
      "id": "84036541-f9bc-45f1-869c-a1a9d36527c8",
      "name": "Respond - Seed Started",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2860,
        680
      ]
    },
    {
      "parameters": {
        "content": "# Flow 0.1: Onboarding — Seed Current Week\n\nTrigger once to seed the current week's data.\n\n1. POST to /webhook/seed-current-week with { tenant_id }\n2. Validates tenant is active\n3. Checks if current week already exists (skips if so)\n4. Calls Flow 1 to collect reports for current week\n5. Returns immediately — Flow 1 runs asynchronously\n\nAfter seeding, Flow 0.2 (Daily Scheduler) takes over\nautomatically on each configured report day.",
        "height": 340,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        300
      ],
      "typeVersion": 1,
      "id": "note-flow01-description",
      "name": "Flow Description"
    }
  ],
  "pinData": {
    "Webhook - Seed Current Week": [
      {
        "json": {
          "headers": {
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "tenant_id": "a5828a7e-30ea-4263-9c9c-c344f616fd9d",
            "trigger_source": "manual"
          },
          "webhookUrl": "https://n8n.bidflow.app/webhook/seed-current-week",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Seed Current Week": {
      "main": [
        [
          {
            "node": "Extract Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tenant ID": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "IF-Tenant Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Tenant Active": {
      "main": [
        [
          {
            "node": "Calculate Week Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Account Not Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Week Dates": {
      "main": [
        [
          {
            "node": "Check Snapshot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Snapshot Status": {
      "main": [
        [
          {
            "node": "IF-Snapshot Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Snapshot Complete": {
      "main": [
        [
          {
            "node": "Respond - Already Seeded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Flow 1 - Collect Current Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Flow 1 - Collect Current Week": {
      "main": [
        [
          {
            "node": "Respond - Seed Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1e70e25-e9c8-4e4c-8cf6-dd488b0eeb03",
  "meta": {
    "instanceId": "fa4bcb378ee210d5f1fb5de6ab50587326b68defa808af6512b2ad539bf43873"
  },
  "id": "AkMdeu0J7Fsw8ofY",
  "tags": []
}
