n8n flows/0_1__Multi__Historical_Backfill_Onboarding.json
{
  "name": "0.1 (Multi) Historical Backfill-Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "historical-backfill",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bccda6a-ac90-4918-b3f6-f2e597a82842",
      "name": "Webhook - Historical Backfill",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "historical-backfill-v1"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\n\nif (!payload.tenant_id) {\n  throw new Error('Missing required field: tenant_id');\n}\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(payload.tenant_id)) {\n  throw new Error('Invalid tenant_id format');\n}\n\n// max_weeks lets callers limit how far back to go (default 9 = ~65 days, Amazon's limit)\nconst maxWeeks = parseInt(payload.max_weeks || '9');\n\nreturn [{\n  json: {\n    tenant_id: payload.tenant_id,\n    max_weeks: Math.min(Math.max(maxWeeks, 1), 9),\n    trigger_source: payload.trigger_source || 'manual',\n    triggered_at: payload.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "e0f9be2c-60a2-4647-89d0-1f2a18650ff2",
      "name": "Extract Tenant ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "credentials",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $json.tenant_id }}"
            }
          ]
        }
      },
      "id": "02e84a57-8b03-473a-b695-687ada52e2c1",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tenant-active",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73c1ea1c-e3f2-4894-93a6-523f55aa6ca7",
      "name": "IF-Tenant Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Tenant not active or credentials not found' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "0d068237-bd03-46db-acac-364279be4bf0",
      "name": "Respond - Account Not Active",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pull tenant_id and max_weeks from upstream\nconst tenantId = $('Extract Tenant ID').first().json.tenant_id;\nconst maxWeeks = $('Extract Tenant ID').first().json.max_weeks || 9;\n\n// Generate offsets from oldest to newest so we build history in order\n// offset 9 = 9 weeks ago, offset 1 = last week\nconst items = [];\nfor (let offset = maxWeeks; offset >= 1; offset--) {\n  items.push({\n    json: {\n      week_offset: offset,\n      tenant_id: tenantId\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "c8ff4a2a-5e8c-4666-b785-05e841688742",
      "name": "Generate Historical Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5f36d258-bb64-41a9-b0fc-7ff61f7a0eb0",
      "name": "Loop Over Weeks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const weekOffset = $input.first().json.week_offset;\nconst tenantId = $input.first().json.tenant_id;\n\nfunction getISOWeek(d) {\n  const date = new Date(d.getTime());\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.ceil(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n}\n\nconst msPerDay = 24 * 60 * 60 * 1000;\nconst offsetDays = weekOffset * 7;\n\n// Shift 'now' back by the week offset to get the reference point for this week\nconst shiftedNow = new Date(Date.now() - offsetDays * msPerDay);\n\n// Date ranges — same formula as Flow 1 but with the week offset applied\nconst endDate      = new Date(Date.now() - (3  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst startDate30  = new Date(Date.now() - (32 + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst startDate7   = new Date(Date.now() - (9  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst yesterday    = new Date(Date.now() - (1  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst dayBefore    = new Date(Date.now() - (2  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst today        = shiftedNow.toISOString().split('T')[0];\n\n// ISO week ID — same logic as Flow 1's Calculate Week ID node\nconst day  = shiftedNow.getDay();\nconst diff = shiftedNow.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(shiftedNow);\nmonday.setDate(diff);\nmonday.setHours(0, 0, 0, 0);\nconst sunday = new Date(monday);\nsunday.setDate(sunday.getDate() + 6);\n\nconst weekNum = getISOWeek(monday);\nconst year = monday.getFullYear();\n\nreturn [{\n  json: {\n    week_offset:  weekOffset,\n    tenant_id:    tenantId,\n    week_id:      `${year}-W${String(weekNum).padStart(2, '0')}`,\n    year:         year,\n    week_number:  weekNum,\n    start_date:   monday.toISOString().split('T')[0],\n    end_date:     sunday.toISOString().split('T')[0],\n    endDate:      endDate,\n    startDate30:  startDate30,\n    startDate7:   startDate7,\n    yesterday:    yesterday,\n    dayBefore:    dayBefore,\n    today:        today\n  }\n}];"
      },
      "id": "911fe6a8-0291-456a-8e62-9ce971843672",
      "name": "Calculate Week Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (SELECT status FROM weekly_snapshots\n     WHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n       AND week_id   = '{{ $json.week_id }}'\n     LIMIT 1),\n    'not_found'\n  ) AS status,\n  '{{ $json.week_id }}'   AS week_id,\n  '{{ $json.tenant_id }}' AS tenant_id,\n  {{ $json.week_offset }} AS week_offset;",
        "options": {}
      },
      "id": "8db4b24d-20e5-439f-9375-585deae0f46e",
      "name": "Check Snapshot Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1660,
        -140
      ],
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-snap-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8618e6ec-2896-4408-98d9-a8879528de07",
      "name": "IF-Snapshot Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.bidflow.app/webhook/d4a5a8ed-0382-44e8-b011-b14e48a89b87",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\":      \"{{ $json.tenant_id }}\",\n  \"week_offset\":    {{ $json.week_offset }},\n  \"trigger_source\": \"historical_backfill\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "33b74c11-628d-4b99-b897-b2251b3040c7",
      "name": "Call Flow 1 - Collect Week",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -120
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "id": "c066d2ea-6c2a-42c1-845c-6864de68430f",
      "name": "Wait Between Weeks",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2340,
        -120
      ],
      "webhookId": "39a244e3-1e59-457d-88f8-0a37523fa2f7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Historical backfill complete', tenant_id: $('Extract Tenant ID').first().json.tenant_id, weeks_processed: $('Extract Tenant ID').first().json.max_weeks }) }}",
        "options": {}
      },
      "id": "86043c5b-9530-4239-af9b-b8b13d92c256",
      "name": "Respond - Backfill Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Historical Backfill": {
      "main": [
        [
          {
            "node": "Extract Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tenant ID": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "IF-Tenant Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Tenant Active": {
      "main": [
        [
          {
            "node": "Generate Historical Weeks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Account Not Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Historical Weeks": {
      "main": [
        [
          {
            "node": "Loop Over Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Weeks": {
      "main": [
        [
          {
            "node": "Calculate Week Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Backfill Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Week Dates": {
      "main": [
        [
          {
            "node": "Check Snapshot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Snapshot Status": {
      "main": [
        [
          {
            "node": "IF-Snapshot Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Snapshot Complete": {
      "main": [
        [
          {
            "node": "Loop Over Weeks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Flow 1 - Collect Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Flow 1 - Collect Week": {
      "main": [
        [
          {
            "node": "Wait Between Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Weeks": {
      "main": [
        [
          {
            "node": "Loop Over Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9017a75b-ed90-484f-bac4-baa8665ef404",
  "meta": {
    "instanceId": "fa4bcb378ee210d5f1fb5de6ab50587326b68defa808af6512b2ad539bf43873"
  },
  "id": "AkMdeu0J7Fsw8ofY",
  "tags": []
}