n8n flows/1_0__Multi__Placement_Data_Collection.json
{
  "name": "1.0 (Multi) Placement Data Collection",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00146f77-9f96-4556-b336-b462d50bef8f",
              "name": "name",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "e27dd269-221b-43b4-bcd1-c9bd60664abf",
              "name": "startDate30",
              "value": "={{ new Date(Date.now() - (32 + ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7) * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "d86f5d5c-47e7-47e2-92cb-232a5083878d",
              "name": "yesterday",
              "value": "={{ new Date(Date.now() - (1 + ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7) * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "495cdaf9-c097-4a67-847d-4ba7f5e48cbe",
              "name": "dayBefore",
              "value": "={{ new Date(Date.now() - (2 + ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7) * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "b9563472-bf49-4bed-85ca-fcf273697b96",
              "name": "endDate",
              "value": "={{ new Date(Date.now() - (3 + ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7) * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "43d6a6a6-62f5-4d12-93ae-79ade1b239b4",
              "name": "today",
              "value": "={{ new Date(Date.now() - ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "9340bc67-742c-4744-8e98-c8119515397e",
              "name": "startDate7",
              "value": "={{ new Date(Date.now() - (9 + ($('Webhook from Vercel.com').first().json.body.week_offset || 0) * 7) * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2500,
        5940
      ],
      "id": "e7c5fefc-48af-46db-acce-876564b3bf47",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('IF-Tenant Active').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SP-Campaign-Yesterday-{{ $('Edit Fields').item.json.today }}\",\n  \"startDate\": \"{{ $('Edit Fields').item.json.yesterday }}\",\n  \"endDate\": \"{{ $('Edit Fields').item.json.yesterday }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spCampaigns\",\n    \"timeUnit\": \"DAILY\",\n    \"format\": \"GZIP_JSON\",\n    \"groupBy\": [\"campaign\"],\n    \"columns\": [\n      \"campaignId\",\n      \"campaignName\",\n      \"campaignBudgetAmount\",\n      \"topOfSearchImpressionShare\",\n      \"campaignStatus\",\n      \"date\",\n      \"spend\"\n    ],\n \"filters\": [\n        {\n          \"field\": \"campaignStatus\",\n          \"values\": [\n            \"ENABLED\"\n          ]\n        }\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "c3e354b2-73c3-42fe-9488-7171b73e4bb4",
      "name": "Create Report-Yesterday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1220,
        5120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('IF-Tenant Active').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"SP-Campaign-DayBefore-{{ $('Edit Fields').item.json.today }}\",\n    \"startDate\": \"{{ $('Edit Fields').item.json.dayBefore }}\",\n    \"endDate\": \"{{ $('Edit Fields').item.json.dayBefore }}\",\n    \"configuration\": {\n      \"adProduct\": \"SPONSORED_PRODUCTS\",\n      \"reportTypeId\": \"spCampaigns\",\n      \"timeUnit\": \"DAILY\",\n      \"format\": \"GZIP_JSON\",\n      \"groupBy\": [\"campaign\"],\n      \"columns\": [\n        \"campaignId\",\n        \"campaignName\",\n        \"campaignBudgetAmount\",\n        \"topOfSearchImpressionShare\",\n        \"campaignStatus\",\n        \"date\",\n        \"spend\"\n      ],\n      \"filters\": [\n        {\n          \"field\": \"campaignStatus\",\n          \"values\": [\n            \"ENABLED\"\n          ]\n        }\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "980a68fe-ca75-4210-a5f2-26c24b5d6711",
      "name": "Create Report-DB Yesterday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1220,
        5300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/sp/campaigns/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Get Tenant').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.spcampaign.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.spcampaign.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stateFilter\": {\n    \"include\": [\"ENABLED\"]\n  },\n  \"includeExtendedDataFields\": true\n}",
        "options": {}
      },
      "id": "d9e32d73-26ad-4de7-a461-97e507878836",
      "name": "Current Placement Bids",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1480,
        5940
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let data;\n  if (typeof item.json.data === 'string') {\n    data = JSON.parse(item.json.data);\n  } else {\n    data = item.json;\n  }\n\n  if (!data.campaigns || !Array.isArray(data.campaigns)) continue;\n\n  for (const campaign of data.campaigns) {\n    const campaignData = {\n      campaignId: campaign.campaignId,\n      campaignName: campaign.name || \"\",\n      campaignStatus: campaign.state || \"\",\n      campaignBudget: campaign.budget?.budget || 0,\n      portfolioId: campaign.portfolioId ? campaign.portfolioId.toString() : '',\n      // All 4 placements now included\n      placementTopOfSearch: 0,\n      placementRestOfSearch: 0,\n      placementProductPage: 0,\n      placementAmazonBusiness: 0,\n    };\n\n    if (campaign.dynamicBidding?.placementBidding) {\n      for (const placement of campaign.dynamicBidding.placementBidding) {\n        switch (placement.placement) {\n          case \"PLACEMENT_TOP\": // Amazon uses \"TOP\" for Top of Search\n            campaignData.placementTopOfSearch = placement.percentage;\n            break;\n          case \"PLACEMENT_REST_OF_SEARCH\":\n            campaignData.placementRestOfSearch = placement.percentage;\n            break;\n          case \"PLACEMENT_PRODUCT_PAGE\":\n            campaignData.placementProductPage = placement.percentage;\n            break;\n          case \"PLACEMENT_AMAZON_BUSINESS\":\n            campaignData.placementAmazonBusiness = placement.percentage;\n            break;\n        }\n      }\n    }\n    output.push({ json: campaignData });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        5940
      ],
      "id": "c5f3f31e-b819-4b09-972f-e597b6a41964",
      "name": "Placement Bids Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('IF-Tenant Active').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"SP-Placement-30Days-{{ $('Edit Fields').item.json.today }}\",\n    \"startDate\": \"{{ $('Edit Fields').item.json.startDate30 }}\",\n    \"endDate\": \"{{ $('Edit Fields').item.json.endDate }}\",\n    \"configuration\": {\n      \"adProduct\": \"SPONSORED_PRODUCTS\",\n      \"reportTypeId\": \"spCampaigns\",\n      \"timeUnit\": \"SUMMARY\",\n      \"format\": \"GZIP_JSON\",\n      \"groupBy\": [\n        \"campaign\",\n        \"campaignPlacement\"\n      ],\n      \"columns\": [\n        \"campaignId\",\n        \"campaignName\",\n        \"campaignStatus\",\n        \"campaignBudgetAmount\",\n        \"placementClassification\",\n        \"impressions\",\n        \"clicks\",\n        \"spend\",\n        \"purchases30d\",\n        \"sales30d\"\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "723ac409-d995-40e5-b341-d18d77c12891",
      "name": "Create Placement Report – 30 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1220,
        4760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Get Tenant').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"SP-Placement-7Days-{{ $('Edit Fields').item.json.today }}\",\n    \"startDate\": \"{{ $('Edit Fields').item.json.startDate7 }}\",\n    \"endDate\": \"{{ $('Edit Fields').item.json.endDate }}\",\n    \"configuration\": {\n      \"adProduct\": \"SPONSORED_PRODUCTS\",\n      \"reportTypeId\": \"spCampaigns\",\n      \"timeUnit\": \"SUMMARY\",\n      \"format\": \"GZIP_JSON\",\n      \"groupBy\": [\n        \"campaign\",\n        \"campaignPlacement\"\n      ],\n      \"columns\": [\n        \"campaignId\",\n        \"campaignName\",\n        \"campaignStatus\",\n        \"placementClassification\",\n        \"clicks\",\n        \"spend\",\n        \"purchases7d\",\n        \"sales7d\"\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "c253a658-bf00-45bd-bb44-9ba0f4a6f92f",
      "name": "Create Placement Report – 7 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1220,
        4940
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\n// This grabs the tenant_id from the very first item that entered this node\n// regardless of what the previous node was named.\nconst firstItem = $input.first();\nconst tenantId = $('IF-Tenant Active').first().json.tenant_id;\n\nif (!tenantId) {\n  throw new Error(\"Could not find tenant_id. Make sure the previous node is passing it through!\");\n}\n\nfor (const item of items) {\n  const portfolios = item.json.portfolios || [];\n  \n  for (const portfolio of portfolios) {\n    if (portfolio.state !== 'ENABLED') continue;\n    \n    if (portfolio.portfolioId && portfolio.name) {\n      output.push({\n        json: {\n          tenant_id: tenantId,\n          portfolio_id: portfolio.portfolioId.toString(),\n          name: portfolio.name,\n          budget_amount: portfolio.budget?.amount || 0,\n          currency: portfolio.budget?.currencyCode || 'USD',\n          status: portfolio.state,\n          updated_at: new Date().toISOString()\n        }\n      });\n    }\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        5740
      ],
      "id": "e2de453e-4d01-4246-b5f8-6b0f5b5190ff",
      "name": "Process Portfolios",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/portfolios/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Get Tenant').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.spcampaign.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.spcampaign.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stateFilter\": {\n    \"include\": [\"ENABLED\"]\n  },\n  \"includeExtendedDataFields\": true\n}",
        "options": {}
      },
      "id": "476b13b8-af2b-43c9-ba4d-2c2f07304f36",
      "name": "Get Portfolios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1480,
        5740
      ]
    },
    {
      "parameters": {
        "content": "# Creates 6 Ad Reports, loads bid placement google sheets.\n## Client ID: SaaS app (doppler)\n## Client secret: SaaS app (doppler)\n## Refresh Token: Amazon Business Subscriber (supabase vault)",
        "height": 1284,
        "width": 1076,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1660,
        4200
      ],
      "typeVersion": 1,
      "id": "1a7a9f78-ca80-44ea-86ef-c160c23d112c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        4760
      ],
      "id": "50b9a7e7-9e8b-4db5-b285-a667e25cbe3b",
      "name": "Rate Limit1",
      "webhookId": "bc031fc9-a871-489a-bb1c-8caaf3b0114a"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        4940
      ],
      "id": "b356c44f-d372-4c8c-8b0b-b737af93ea63",
      "name": "Rate Limit2",
      "webhookId": "c30845e1-d248-4897-814a-d35a8d326e28"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        5120
      ],
      "id": "cdc97a40-c59e-4739-b117-9b058a9256fc",
      "name": "Rate Limit3",
      "webhookId": "b2fc052e-beb9-421f-b27d-5319449f2eaf"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        5300
      ],
      "id": "ff89cfc6-af9c-49d9-bc1e-72e22d114d91",
      "name": "Rate Limit4",
      "webhookId": "33ec43a5-164a-46b6-8dfa-6d91361c197f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('IF-Tenant Active').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"name\": \"SP-Campaign-30Days-{{ $('Edit Fields').item.json.today }}\",\n    \"startDate\": \"{{ $('Edit Fields').item.json.startDate30 }}\",\n    \"endDate\": \"{{ $('Edit Fields').item.json.endDate }}\",\n    \"configuration\": {\n      \"adProduct\": \"SPONSORED_PRODUCTS\",\n      \"reportTypeId\": \"spCampaigns\",\n      \"timeUnit\": \"SUMMARY\",\n      \"format\": \"GZIP_JSON\",\n      \"groupBy\": [\n        \"campaign\"\n      ],\n      \"columns\": [\n        \"campaignId\",\n        \"campaignName\",\n        \"campaignBudgetAmount\",\n        \"impressions\",\n        \"clicks\",\n        \"spend\",\n        \"purchases30d\",\n        \"sales30d\",\n        \"purchases14d\",\n        \"sales14d\",\n        \"purchases7d\",\n        \"sales7d\",\n        \"topOfSearchImpressionShare\",\n        \"campaignStatus\"\n      ],\n      \"filters\": [\n        {\n          \"field\": \"campaignStatus\",\n          \"values\": [\n            \"ENABLED\"\n          ]\n        }\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "c1948bb7-e558-481d-9fc9-bffa9005ff1e",
      "name": "Create Campaign Report-30 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1460,
        4420
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        4600
      ],
      "id": "4b1464bb-3c35-402d-b8b7-7c21d84fb2b8",
      "name": "Rate Limit0",
      "webhookId": "78096a1b-ef69-498b-a59a-da56ccbaa929"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Set Access Token').item.json.access_token_cache }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('IF-Tenant Active').item.json.amazon_profile_id }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"SP-Campaign-7Days-{{ $('Edit Fields').item.json.today }}\",\n    \"startDate\": \"{{ $('Edit Fields').item.json.startDate7 }}\",\n    \"endDate\": \"{{ $('Edit Fields').item.json.endDate }}\",\n    \"configuration\": {\n      \"adProduct\": \"SPONSORED_PRODUCTS\",\n      \"reportTypeId\": \"spCampaigns\",\n      \"timeUnit\": \"SUMMARY\",\n      \"format\": \"GZIP_JSON\",\n      \"groupBy\": [\n        \"campaign\"\n      ],\n      \"columns\": [\n        \"campaignId\",\n        \"campaignName\",\n        \"campaignBudgetAmount\",\n        \"impressions\",\n        \"clicks\",\n        \"spend\",\n        \"purchases7d\",\n        \"sales7d\",\n        \"purchases14d\",\n        \"sales14d\",\n        \"purchases30d\",\n        \"sales30d\",\n        \"topOfSearchImpressionShare\",\n        \"campaignStatus\"\n      ],\n      \"filters\": [\n        {\n          \"field\": \"campaignStatus\",\n          \"values\": [\n            \"ENABLED\"\n          ]\n        }\n      ]\n    }\n  }",
        "options": {}
      },
      "id": "38601e73-9dd2-4ad5-9056-538ba0bf9c31",
      "name": "Create Campaign Report-7 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1220,
        4600
      ]
    },
    {
      "parameters": {
        "content": "# Add data to Supabase. Must load in Portfolio data first. \n## Client ID: SaaS app (doppler)\n## Client secret: SaaS app (doppler)\n## Refresh Token: Amazon Business Subscriber (supabase vault)",
        "height": 704,
        "width": 1076,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1660,
        5500
      ],
      "typeVersion": 1,
      "id": "55bb6810-381c-4121-8556-cca471dd6204",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "tableId": "report_ledger",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "report_id",
              "fieldValue": "={{ $json.reportId }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.createdAt }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updatedAt }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $('IF-Tenant Active').item.json.tenant_id }}"
            },
            {
              "fieldId": "week_id",
              "fieldValue": "={{ $('Create Weekly Snapshot').item.json.week_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        4420
      ],
      "id": "4919fd92-50a4-4b11-9f3f-b8a49a5e744c",
      "name": "Report Ledger",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6b80bf4-2043-4eca-a98e-79b1b012ec04",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4660,
        5940
      ],
      "id": "30f5632f-1d86-4d9e-9edb-3c9b6f2ebcba",
      "name": "IF-Tenant Active"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Sorry your account is not active",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4460,
        6140
      ],
      "id": "b0bc1c92-afab-4f18-9949-8e6a99100289",
      "name": "Respond to Webhook (account not active)"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "credentials",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $('Extract Tenant ID').item.json.tenant_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4820,
        5940
      ],
      "id": "6aea0ca0-3e1e-4504-8e76-8a5987249787",
      "name": "Get Tenant",
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT regexp_replace(get_decrypted_refresh_token('{{ $json.tenant_id }}'), '\\s+', '', 'g') as refresh_token;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4460,
        5920
      ],
      "id": "6e1f96dc-8a52-4d8a-87af-a6d3188344bb",
      "name": "SQL Decrypt Vault ID",
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Client ID: SaaS app (doppler)\n## Client secret: SaaS app (doppler)\n\n## Refresh Token: Amazon Business Subscriber (supabase vault)\n# Checks if Access Token is Expired or Not\n",
        "height": 560,
        "width": 1620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4240,
        5620
      ],
      "typeVersion": 1,
      "id": "6041a274-2678-4661-84f7-1abb55a11677",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1000,
        5940
      ],
      "id": "21db6951-cdbd-45be-abce-540f65c800a5",
      "name": "Wait for Data to Update",
      "webhookId": "12fe16f8-3273-4b7e-91bf-a6c77c5017f2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "staging_placement_bids",
          "mode": "list",
          "cachedResultName": "staging_placement_bids"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_budget": "={{ $json.campaignBudget }}",
            "placement_product_page": "={{ $json.placementProductPage }}",
            "placement_rest_of_search": "={{ $json.placementRestOfSearch }}",
            "placement_top_of_search": "={{ $json.placementTopOfSearch }}",
            "campaign_id": "={{ $json.campaignId }}",
            "tenant_id": "={{ $('IF-Tenant Active').item.json.tenant_id }}",
            "campaign_name": "={{ $json.campaignId }}",
            "campaign_status": "={{ $json.campaignName }}",
            "portfolio_id": "={{ $json.portfolioId }}"
          },
          "matchingColumns": [
            "tenant_id",
            "campaign_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "campaign_status",
              "displayName": "campaign_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "campaign_budget",
              "displayName": "campaign_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "portfolio_id",
              "displayName": "portfolio_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "placement_product_page",
              "displayName": "placement_product_page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "placement_rest_of_search",
              "displayName": "placement_rest_of_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "placement_top_of_search",
              "displayName": "placement_top_of_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -820,
        5940
      ],
      "id": "0e8a723d-7751-4dc6-9e36-bd8e8f7fdcf5",
      "name": "2. Update Current Placement Bids",
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "staging_portfolios",
          "mode": "list",
          "cachedResultName": "staging_portfolios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "portfolio_id": "={{ $json.portfolio_id }}",
            "tenant_id": "={{ $json.tenant_id }}",
            "budget_amount": "={{ $json.budget_amount }}",
            "currency": "={{ $json.currency }}",
            "updated_at": "={{ $json.updated_at }}",
            "portfolio_name": "={{ $json.name }}",
            "portfolio_state": "={{ $json.status }}"
          },
          "matchingColumns": [
            "tenant_id",
            "portfolio_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "portfolio_id",
              "displayName": "portfolio_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "portfolio_name",
              "displayName": "portfolio_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "budget_amount",
              "displayName": "budget_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "portfolio_state",
              "displayName": "portfolio_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1000,
        5740
      ],
      "id": "530faafa-7bf2-4962-9564-deb07d147696",
      "name": "1. Update Current Portfolios",
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook payload - explicitly reference the Webhook node\n// because the immediate predecessor (Doppler) doesn't contain the body.\nconst payload = $('Webhook from Vercel.com').item.json.body || $('Webhook from Vercel.com').item.json;\n\nif (!payload.tenant_id) {\n  throw new Error('Missing required field: tenant_id');\n}\n\n// UUID validation\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(payload.tenant_id)) {\n  throw new Error('Invalid tenant_id format');\n}\n\n// week_offset: 0 = current week, 1 = last week, 2 = two weeks ago, etc.\n// Sent by the historical backfill flow; defaults to 0 for normal weekly runs.\nconst weekOffset = parseInt(payload.week_offset || '0');\n\n// Return validated data\nreturn [{\n  json: {\n    tenant_id: payload.tenant_id,\n    week_offset: weekOffset,\n    trigger_source: payload.trigger_source || 'unknown',\n    triggered_at: payload.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4980,
        5940
      ],
      "id": "3d12bd8b-f82b-4cbc-99eb-8c35634ed260",
      "name": "Extract Tenant ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Data collection started\",\n  \"week_id\": \"{{ $('Calculate Week ID').first().json.week_id }}\",\n  \"tenant_id\": \"{{ $('Calculate Week ID').first().json.tenant_id }}\",\n  \"snapshot_id\": \"{{ $('Create Weekly Snapshot').first().json.id }}\",\n  \"status\": \"collecting\",\n  \"start_date\": \"{{ $('Calculate Week ID').first().json.start_date }}\",\n  \"end_date\": \"{{ $('Calculate Week ID').first().json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -100,
        5940
      ],
      "id": "98c98fb2-54d6-4708-aac6-e61c7c2e417e",
      "name": "Respond to Webhook",
      "executeOnce": true,
      "notes": "This should send s reponse saying success of failure. To the front end user"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO weekly_snapshots (\n  tenant_id, \n  week_id, \n  year, \n  week_number, \n  start_date, \n  end_date, \n  workflow_execution_id, -- <--- ADDED THIS COLUMN\n  status\n)\nVALUES (\n  '{{ $('Calculate Week ID').item.json.tenant_id }}'::UUID,\n  '{{ $('Calculate Week ID').item.json.week_id }}',\n  {{ $('Calculate Week ID').item.json.year }},\n  {{ $('Calculate Week ID').item.json.week_number }},\n  '{{ $('Calculate Week ID').item.json.start_date }}',\n  '{{ $('Calculate Week ID').item.json.end_date }}',\n  '{{ $executionId }}',\n  'collecting'\n)\nON CONFLICT (tenant_id, week_id)\nDO UPDATE SET\n  status = 'collecting',\n  workflow_execution_id = EXCLUDED.workflow_execution_id, -- <--- UPDATES ID ON CONFLICT\n  created_at = NOW()\nRETURNING id, week_id, tenant_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2060,
        5940
      ],
      "id": "17b6b850-a9c4-4d53-8d74-713c27d0674d",
      "name": "Create Weekly Snapshot",
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Calculates the week.\n## Then creates a snapshot of the weeks data.",
        "height": 560,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2560,
        5620
      ],
      "typeVersion": 1,
      "id": "65d3c75b-67ef-4497-ac9b-f3f2458ef904",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/32328f48-51f5-4123-b693-af5455d3b29c",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Calculate Week ID').first().json.tenant_id }}\",\n  \"week_id\": \"{{ $('Calculate Week ID').first().json.week_id }}\",\n  \"snapshot_id\": \"{{ $('Create Weekly Snapshot').first().json.id }}\",\n  \"email\": \"{{ $('Webhook from Vercel.com').item.json.body.email }}\",\n  \"trigger_source\": \"flow_1_completion\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        5940
      ],
      "id": "a810427b-b8e2-479f-a688-be328a2a1261",
      "name": "Trigger Flow 2",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00146f77-9f96-4556-b336-b462d50bef8f",
              "name": "name",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "e27dd269-221b-43b4-bcd1-c9bd60664abf",
              "name": "startDate30",
              "value": "={{ new Date(Date.now() - 33 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "d86f5d5c-47e7-47e2-92cb-232a5083878d",
              "name": "yesterday",
              "value": "={{ new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "495cdaf9-c097-4a67-847d-4ba7f5e48cbe",
              "name": "dayBefore",
              "value": "={{ new Date(Date.now() - 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "b9563472-bf49-4bed-85ca-fcf273697b96",
              "name": "endDate",
              "value": "={{ new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "43d6a6a6-62f5-4d12-93ae-79ade1b239b4",
              "name": "today",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "9340bc67-742c-4744-8e98-c8119515397e",
              "name": "startDate7",
              "value": "={{ new Date(Date.now() - 9 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4840,
        4940
      ],
      "id": "5166d732-6c9a-4fa3-a418-af3b67bcf76a",
      "name": "Edit Fields, Week43 (for testing)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        5940
      ],
      "id": "c6b662ce-fce2-4a00-b1af-74e13f815004",
      "name": "Wait 5sec",
      "webhookId": "f236727d-2ef6-42da-80de-1c5a1357e438"
    },
    {
      "parameters": {
        "jsCode": "// week_offset from the validated webhook payload (0 = current run, 1 = one week further back, etc.)\nconst weekOffset = $('IF-Tenant Active').item.json.week_offset || 0;\n\n// Shift 'now' back by the offset + 1 week (7 days) to target the *previous* completed week\n// We always report on the previous full week (Mon-Sun)\nconst msPerDay = 24 * 60 * 60 * 1000;\n// Default (offset 0) = Last week. Offset 1 = 2 weeks ago.\nconst targetDate = new Date(Date.now() - (weekOffset + 1) * 7 * msPerDay);\n\n// Helper to get ISO Week (1-52)\nfunction getISOWeek(d) {\n  const date = new Date(d.getTime());\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.ceil(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n}\n\n// Get Monday of the target week\nconst day = targetDate.getDay();\nconst diff = targetDate.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(targetDate);\nmonday.setDate(diff);\nmonday.setHours(0, 0, 0, 0);\nconst sunday = new Date(monday);\nsunday.setDate(sunday.getDate() + 6);\n\nconst weekNum = getISOWeek(monday);\nconst year = monday.getFullYear();\n\nreturn [{\n  json: {\n    week_id: `${year}-W${String(weekNum).padStart(2, '0')}`,\n    year: year,\n    week_number: weekNum,\n    start_date: monday.toISOString().split('T')[0],\n    end_date: sunday.toISOString().split('T')[0],\n    week_offset: weekOffset,\n    tenant_id: $('IF-Tenant Active').item.json.tenant_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2280,
        5940
      ],
      "id": "46d6d6d6-8a10-4a0a-8308-de5fd530792b",
      "name": "Calculate Week ID"
    },
    {
      "parameters": {
        "jsCode": "// 1. Configuration\nconst BUFFER_MINUTES = 5; \n\n// 2. Get data from the current item ($json)\nconst data = $json;\n\nconst access_token_cache = data.access_token_cache;\nconst access_token_expires_at = data.access_token_expires_at;\nconst tenant_id = data.tenant_id;\n\n// 3. Logic\nconst now = new Date();\nconst expiryDate = access_token_expires_at ? new Date(access_token_expires_at) : null;\nconst bufferTimeMs = BUFFER_MINUTES * 60 * 1000;\n\n// A token is valid ONLY if it exists AND expires more than 5 mins from now\nconst hasToken = !!access_token_cache;\nconst isExpired = !expiryDate || (expiryDate.getTime() - now.getTime()) < bufferTimeMs;\nconst isValid = hasToken && !isExpired;\n\n// 4. Return result using your workflow's specific variable names\nreturn {\n  isValid: isValid,\n  needsNewToken: !isValid, \n  cachedToken: isValid ? access_token_cache : null, \n  tenant_id: tenant_id,\n  debug_info: {\n    now: now.toISOString(),\n    expires_at: access_token_expires_at || 'null',\n    time_left_minutes: expiryDate ? Math.round((expiryDate.getTime() - now.getTime()) / 60000) : 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3940,
        5920
      ],
      "id": "7744809f-1a30-4b32-acf6-c91268c6eacf",
      "name": "Check Token Validity1",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6b80bf4-2043-4eca-a98e-79b1b012ec04",
              "leftValue": "={{ $json.needsNewToken === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3720,
        5920
      ],
      "id": "77c26ead-c704-4a95-88af-1213c4b32412",
      "name": "IF-Access Token1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "credentials",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $('IF-Tenant Active').item.json.tenant_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4180,
        5920
      ],
      "id": "8479d4e8-5942-485d-b251-3faca676c60d",
      "name": "Get Access Token",
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "credentials",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Access Token').first().json.tenant_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "access_token_cache",
              "fieldValue": "={{ $json.access_token }}"
            },
            {
              "fieldId": "access_token_expires_at",
              "fieldValue": "={{ new Date(Date.now() + ($json.expires_in * 1000)).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3020,
        5700
      ],
      "id": "fac7a438-c1a6-4f25-ae82-b2056978a30b",
      "name": "Save Token to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d59d544f-b30e-415d-8d3b-3d6287f43c5d",
              "name": "access_token_cache",
              "value": "={{ $json.access_token_cache }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        5940
      ],
      "id": "17b763d2-404c-4033-8ae2-ffd2e19f72d4",
      "name": "Set Access Token",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    access_token_cache: $input.first().json.cachedToken\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3420,
        5940
      ],
      "id": "10316f67-89f4-4335-8b49-cd8b1ff832c7",
      "name": "Use Cached Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2adceec7-6c16-4e89-9ce1-bdf7ce184b3c",
              "name": "tenant_id",
              "value": "=a5828a7e-30ea-4263-9c9c-c344f616fd9d",
              "type": "string"
            },
            {
              "id": "a80284a5-7215-40d8-9e24-a83485d02815",
              "name": "week_id",
              "value": "=2026-W03",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5100,
        4920
      ],
      "id": "0eff3d89-432b-485f-8ec3-bcc5829e4e10",
      "name": "🧪 TEST DATA - REMOVE BEFORE PRODUCTION"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4a5a8ed-0382-44e8-b011-b14e48a89b87",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5360,
        5940
      ],
      "id": "9a445574-0b07-4a77-8267-c8d74de84238",
      "name": "Webhook from Vercel.com",
      "webhookId": "481801ae-ca24-4b0c-9a85-43fe438dfa1b"
    },
    {
      "parameters": {
        "operation": "retrieve",
        "project": "n8n-amazon",
        "config": "dev",
        "name": "APP_ADS_CLIENT_ID",
        "requestOptions": {}
      },
      "type": "n8n-nodes-doppler-secrets.doppler",
      "typeVersion": 1,
      "position": [
        -5160,
        5940
      ],
      "id": "600c33e8-d8c7-407e-a887-dfcef68f0d14",
      "name": "Get Credentials (Doppler) APP-ID",
      "executeOnce": true,
      "credentials": {
        "dopplerApi": {
          "id": "Ag7hx0mcInz0Qv14",
          "name": "Doppler account"
        }
      }
    },
    {
      "parameters": {
        "operation": "retrieve",
        "project": "n8n-amazon",
        "config": "dev",
        "name": "APP_ADS_CLIENT_SECRET",
        "requestOptions": {}
      },
      "type": "n8n-nodes-doppler-secrets.doppler",
      "typeVersion": 1,
      "position": [
        -3420,
        5700
      ],
      "id": "cd790c9a-689c-4eb8-8a89-9489d51f645c",
      "name": "Get Credentials (Doppler) APP-SECRET",
      "executeOnce": true,
      "credentials": {
        "dopplerApi": {
          "id": "Ag7hx0mcInz0Qv14",
          "name": "Doppler account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('SQL Decrypt Vault ID').first().json.refresh_token }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Get Credentials (Doppler) APP-ID').item.json.value.raw }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Get Credentials (Doppler) APP-SECRET').item.json.value.raw }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3220,
        5700
      ],
      "id": "9feb9e20-ecc1-47c6-972a-7ea233007371",
      "name": "Get Access Token SP-API (n8n app)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5320,
        4920
      ],
      "id": "187c15ee-a9af-4f99-bf89-fdc427210c63",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook from Vercel.com": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.bidflow.app",
            "x-real-ip": "100.53.70.62",
            "x-forwarded-for": "100.53.70.62",
            "x-forwarded-proto": "https",
            "content-length": "202",
            "content-type": "application/json",
            "x-vercel-id": "sin1::b6c5b-1771830556105-5890b703b3e1",
            "x-invocation-id": "sin1::b6c5b-1771830556105-5890b703b3e1",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "tenant_id": "a5828a7e-30ea-4263-9c9c-c344f616fd9d",
            "user_id": "a5828a7e-30ea-4263-9c9c-c344f616fd9d",
            "email": "joey@tryramenbomb.com",
            "trigger_source": "bidflow_ui",
            "timestamp": "2026-02-23T07:09:16.673Z"
          },
          "webhookUrl": "https://n8n.bidflow.app/webhook/d4a5a8ed-0382-44e8-b011-b14e48a89b87",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Calculate Week ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Report-Yesterday": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Report-DB Yesterday": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Placement Bids": {
      "main": [
        [
          {
            "node": "Placement Bids Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placement Bids Code": {
      "main": [
        [
          {
            "node": "Wait for Data to Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Placement Report – 30 Days": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Placement Report – 7 Days": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Portfolios": {
      "main": [
        [
          {
            "node": "1. Update Current Portfolios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolios": {
      "main": [
        [
          {
            "node": "Process Portfolios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit1": {
      "main": [
        [
          {
            "node": "Create Placement Report – 30 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit2": {
      "main": [
        [
          {
            "node": "Create Placement Report – 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit3": {
      "main": [
        [
          {
            "node": "Create Report-Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit4": {
      "main": [
        [
          {
            "node": "Create Report-DB Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit0": {
      "main": [
        [
          {
            "node": "Create Campaign Report-7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Campaign Report-7 Days": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Campaign Report-30 Days": {
      "main": [
        [
          {
            "node": "Report Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Tenant Active": {
      "main": [
        [
          {
            "node": "SQL Decrypt Vault ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (account not active)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "IF-Tenant Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Decrypt Vault ID": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Data to Update": {
      "main": [
        [
          {
            "node": "2. Update Current Placement Bids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Update Current Placement Bids": {
      "main": [
        [
          {
            "node": "Wait 5sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tenant ID": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Weekly Snapshot": {
      "main": [
        [
          {
            "node": "Create Campaign Report-30 Days",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit0",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Portfolios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Current Placement Bids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Flow 2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5sec": {
      "main": [
        [
          {
            "node": "Trigger Flow 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Week ID": {
      "main": [
        [
          {
            "node": "Create Weekly Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Validity1": {
      "main": [
        [
          {
            "node": "IF-Access Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Access Token1": {
      "main": [
        [
          {
            "node": "Get Credentials (Doppler) APP-SECRET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Cached Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Check Token Validity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Token to Supabase": {
      "main": [
        [
          {
            "node": "Set Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Access Token": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached Token": {
      "main": [
        [
          {
            "node": "Set Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Vercel.com": {
      "main": [
        [
          {
            "node": "Get Credentials (Doppler) APP-ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credentials (Doppler) APP-ID": {
      "main": [
        [
          {
            "node": "Extract Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credentials (Doppler) APP-SECRET": {
      "main": [
        [
          {
            "node": "Get Access Token SP-API (n8n app)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token SP-API (n8n app)": {
      "main": [
        [
          {
            "node": "Save Token to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "🧪 TEST DATA - REMOVE BEFORE PRODUCTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "vKcoz8TDF55wHGPo"
  },
  "versionId": "ca341b69-14a1-48cf-8535-9641cf73ca70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa4bcb378ee210d5f1fb5de6ab50587326b68defa808af6512b2ad539bf43873"
  },
  "id": "e4ynBTSM5qztZQYw",
  "tags": []
}