n8n flows/_Multi__0__Historical_Backfill.json
{
  "name": "(Multi) 0. Historical Data Backfill",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - Historical Backfill",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "historical-backfill-v1",
      "parameters": {
        "httpMethod": "POST",
        "path": "historical-backfill",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Extract Tenant ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\n\nif (!payload.tenant_id) {\n  throw new Error('Missing required field: tenant_id');\n}\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(payload.tenant_id)) {\n  throw new Error('Invalid tenant_id format');\n}\n\n// max_weeks lets callers limit how far back to go (default 9 = ~65 days, Amazon's limit)\nconst maxWeeks = parseInt(payload.max_weeks || '9');\n\nreturn [{\n  json: {\n    tenant_id: payload.tenant_id,\n    max_weeks: Math.min(Math.max(maxWeeks, 1), 9),\n    trigger_source: payload.trigger_source || 'manual',\n    triggered_at: payload.timestamp || new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "fdOBVfvzPzpH4mNx",
          "name": "Amazon Data (multi-tenant)"
        }
      },
      "parameters": {
        "operation": "get",
        "tableId": "credentials",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $json.tenant_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "IF-Tenant Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tenant-active",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Respond - Account Not Active",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 520],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Tenant not active or credentials not found' }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Generate Historical Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300],
      "parameters": {
        "jsCode": "// Pull tenant_id and max_weeks from upstream\nconst tenantId = $('Extract Tenant ID').first().json.tenant_id;\nconst maxWeeks = $('Extract Tenant ID').first().json.max_weeks || 9;\n\n// Generate offsets from oldest to newest so we build history in order\n// offset 9 = 9 weeks ago, offset 1 = last week\nconst items = [];\nfor (let offset = maxWeeks; offset >= 1; offset--) {\n  items.push({\n    json: {\n      week_offset: offset,\n      tenant_id: tenantId\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Loop Over Weeks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1400, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Calculate Week Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300],
      "parameters": {
        "jsCode": "const weekOffset = $input.first().json.week_offset;\nconst tenantId = $input.first().json.tenant_id;\n\nfunction getISOWeek(d) {\n  const date = new Date(d.getTime());\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.ceil(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n}\n\nconst msPerDay = 24 * 60 * 60 * 1000;\nconst offsetDays = weekOffset * 7;\n\n// Shift 'now' back by the week offset to get the reference point for this week\nconst shiftedNow = new Date(Date.now() - offsetDays * msPerDay);\n\n// Date ranges — same formula as Flow 1 but with the week offset applied\nconst endDate      = new Date(Date.now() - (3  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst startDate30  = new Date(Date.now() - (32 + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst startDate7   = new Date(Date.now() - (9  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst yesterday    = new Date(Date.now() - (1  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst dayBefore    = new Date(Date.now() - (2  + offsetDays) * msPerDay).toISOString().split('T')[0];\nconst today        = shiftedNow.toISOString().split('T')[0];\n\n// ISO week ID — same logic as Flow 1's Calculate Week ID node\nconst day  = shiftedNow.getDay();\nconst diff = shiftedNow.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(shiftedNow);\nmonday.setDate(diff);\nmonday.setHours(0, 0, 0, 0);\nconst sunday = new Date(monday);\nsunday.setDate(sunday.getDate() + 6);\n\nconst weekNum = getISOWeek(monday);\nconst year = monday.getFullYear();\n\nreturn [{\n  json: {\n    week_offset:  weekOffset,\n    tenant_id:    tenantId,\n    week_id:      `${year}-W${String(weekNum).padStart(2, '0')}`,\n    year:         year,\n    week_number:  weekNum,\n    start_date:   monday.toISOString().split('T')[0],\n    end_date:     sunday.toISOString().split('T')[0],\n    endDate:      endDate,\n    startDate30:  startDate30,\n    startDate7:   startDate7,\n    yesterday:    yesterday,\n    dayBefore:    dayBefore,\n    today:        today\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Check Snapshot Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1880, 300],
      "credentials": {
        "postgres": {
          "id": "q0BXcAnQ79DNM71b",
          "name": "Supabase Amazon Data (multi-tenant)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (SELECT status FROM weekly_snapshots\n     WHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n       AND week_id   = '{{ $json.week_id }}'\n     LIMIT 1),\n    'not_found'\n  ) AS status,\n  '{{ $json.week_id }}'   AS week_id,\n  '{{ $json.tenant_id }}' AS tenant_id,\n  {{ $json.week_offset }} AS week_offset;",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "IF-Snapshot Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2120, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-snap-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Call Flow 1 - Collect Week",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2360, 420],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.bidflow.app/webhook/d4a5a8ed-0382-44e8-b011-b14e48a89b87",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\":      \"{{ $json.tenant_id }}\",\n  \"week_offset\":    {{ $json.week_offset }},\n  \"trigger_source\": \"historical_backfill\"\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Wait Between Weeks",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 420],
      "parameters": {
        "unit": "seconds",
        "amount": 90
      }
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Respond - Backfill Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Historical backfill complete', tenant_id: $('Extract Tenant ID').first().json.tenant_id, weeks_processed: $('Extract Tenant ID').first().json.max_weeks }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook - Historical Backfill": {
      "main": [
        [{ "node": "Extract Tenant ID", "type": "main", "index": 0 }]
      ]
    },
    "Extract Tenant ID": {
      "main": [
        [{ "node": "Get Tenant", "type": "main", "index": 0 }]
      ]
    },
    "Get Tenant": {
      "main": [
        [{ "node": "IF-Tenant Active", "type": "main", "index": 0 }]
      ]
    },
    "IF-Tenant Active": {
      "main": [
        [{ "node": "Generate Historical Weeks", "type": "main", "index": 0 }],
        [{ "node": "Respond - Account Not Active", "type": "main", "index": 0 }]
      ]
    },
    "Generate Historical Weeks": {
      "main": [
        [{ "node": "Loop Over Weeks", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Weeks": {
      "main": [
        [{ "node": "Calculate Week Dates", "type": "main", "index": 0 }],
        [{ "node": "Respond - Backfill Complete", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Week Dates": {
      "main": [
        [{ "node": "Check Snapshot Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Snapshot Status": {
      "main": [
        [{ "node": "IF-Snapshot Complete", "type": "main", "index": 0 }]
      ]
    },
    "IF-Snapshot Complete": {
      "main": [
        [{ "node": "Loop Over Weeks", "type": "main", "index": 0 }],
        [{ "node": "Call Flow 1 - Collect Week", "type": "main", "index": 0 }]
      ]
    },
    "Call Flow 1 - Collect Week": {
      "main": [
        [{ "node": "Wait Between Weeks", "type": "main", "index": 0 }]
      ]
    },
    "Wait Between Weeks": {
      "main": [
        [{ "node": "Loop Over Weeks", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
